/* MEDIA QUERY **************  */
@media screen and (max-width: 1200px) {
   .row .albums .album.px1200 {
      display: none;
   }
   .row .albums .album {
      width: calc(100% / 4 - 20px);
   }
   .player .central .bottom {
      width: 80%;
   }
}

@media screen and (max-width: 992px) {
   .row .albums .album.px992 {
      display: none;
   }
   .row .albums .album {
      width: calc(100% / 2 - 20px);
   }
   .player .left {
      max-width: 300px;
      width: 20%;
   }
   .player .left .song-name {
      width: 30%;
      font-size: 0.7em;
   }
   .player .left .icons {
      width: 20%;
   }
   .player .left .icons i {
      font-size: 0.8em;
   }
   .player .left .song img {
      width: 30%;
      margin: 0;
   }
   .player .right {
      width: 32%;
   }
   .player .central .top {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 30%;
   }
}

@media screen and (max-width: 576px) {
   .row .albums .album.px576 {
      display: none;
   }
   #logo img.pxdesktop {
      display: none;
   }
   #logo img.px576 {
      display: block;
      margin-left: -7px;
   }
   nav .playlist,
   nav span,
   nav h3 {
      display: none;
   }
   nav {
      width: 70px;
   }
   nav .container {
      align-items: center;
   }
   .item i,
   .nav-footer .bottom img {
      padding: 0;
      margin: 0;
   }
   .nav-footer {
      text-align: center;
   }
   .content {
      width: calc(100% - 70px);
   }
   .row .albums .album {
      width: calc(100% - 20px);
   }
   .player .central .bottom {
      width: 100%;
   }
   .player .central .top i,
   .player .right i,
   .player .left .icons {
      font-size: 0.7em;
   }
}

@media screen and (max-height: 180px) {
   header {
      animation-name: only-player;
      animation-timing-function: linear;
      animation-duration: .5s;
      /* animation-play-state: paused; */
      visibility: hidden;

   }
   @keyframes only-player {
      from {
         visibility: visible;
         background-color: rgba(0, 0, 0, 0.5);
      }
      to {
         background-color: rgba(0, 0, 0, 0);
      }
   }
   header .btn {
      animation-name: only-player-1;
      animation-timing-function: linear;
      animation-duration: .5s;
   }
   @keyframes only-player-1 {
      from {
         color: #FFF;
         border: 1px solid #FFF;
      }
      to {
         color: transparent;
         border: none;
      }
   }
   header #logo img {
      animation-name: only-player-2;
      animation-timing-function: linear;
      animation-duration: .5s;
   }
   @keyframes only-player-2 {
      from {
         width: 150px;
      }
      to {
         width: 0;
      }
   }
}
@media screen and (min-height: 181px) {
   header {
      animation-name: not-player;
      animation-timing-function: linear;
      animation-duration: .5s;
      /* animation-play-state: paused; */
      visibility: visible;

   }
   @keyframes not-player {
      from {
         visibility: hidden;
         background-color: rgba(0, 0, 0, 0);
      }
      to {
         background-color: rgba(0, 0, 0, 0.5);
      }
   }
   header .btn {
      animation-name: not-player-2;
      animation-timing-function: linear;
      animation-duration: .5s;
   }
   @keyframes not-player-2 {
      from {
         color: transparent;
         border: none;
      }
      to {
         color: #FFF;
         border: 1px solid #FFF;
      }
   }
   header #logo .pxdesktop {
      animation-name: not-player-3;
      animation-timing-function: linear;
      animation-duration: .5s;
   }
   @keyframes not-player-3 {
      from {
         width: 0;
      }
      to {
         width: 150px;
      }
   }
}