* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #FFF;
   font-size: 18px;
}

/* HEADER ******* */
header {
   width: 100vw;
   height: 100px;
   padding: 0 20px;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 500;
}

#logo img {
   width: 150px;
}

header .btn:hover {
   margin-right: 5px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 1.15em;
}

/* MAIN********** */
main {
   display: flex;
   justify-content: flex-start;
}
/* NAV ASIDE******** */
nav {
   width: 300px;
   background-color: #000;
   overflow: hidden;
}
nav .container {
   display: flex;
   flex-direction: column;
   height: calc(100vh - 100px);
   padding-top: 100px;
}
nav .container > .top {
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
   min-height: 300px;
}
.item {
   color: #7C7C7C;
}
.item i {
   padding-right: 10px;
   vertical-align: middle;
   font-size: 30px;
   color: #A2A2A2
}
.item:hover i,
.item:hover {
   color: #FFF;
}

/* menu  */
.menu {
   margin-bottom: 40px;
}
.menu ul li {
   margin-bottom: 15px;
}
.menu .item.active,
.menu .item.active > i {
   color: #FFF;
}
.menu .item.active > i {
   padding-left: 8px;
   margin-left: -15px;
   border-left: 5px solid #B0FF2F;
}

/* playlist */
.playlist {
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
   overflow: auto;
}
.item.create {
   padding: 10px 0;
   display: block;
}
.item.create > i {
   font-size: 60px;
}
.playlist ul {
   overflow: auto;
}
.playlist ul li {
   padding: 10px 0;
}

/* footer nav  */
.nav-footer {
   width: 100%;
   padding: 10px 0;
}
.nav-footer .top {
   padding-bottom: 20px;
   border-bottom: 1px solid #7C7C7C;
}
.nav-footer .top i {
   font-size: 20px;
}
.nav-footer .bottom {
   padding-top: 20px;
}
.nav-footer .bottom img {
   width: 50px;
   margin-right: 10px;
   vertical-align: middle;
   background-color: grey;
   border-radius: 50%;
}
.nav-footer .bottom h3 {
   color: #FFF;
   display: inline-block;
}
/* CONTENT********* */
.content {
   width: calc(100vw - 300px);
   height: calc(100vh - 100px);
   padding-top: 100px;
   padding-left: 20px;
   padding-right: 20px;
   overflow: auto;
   background-color: #141922;
}
.row {
   margin: 30px 0;
}
.row h1 {
   padding: 20px 0;
}

/* categorie */
.row.categories {
   margin: 0;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.row .category {
   padding: 20px 30px;
}
.category .selected {
   width: 50%;
   height: 5px;
   margin-top: 10px;
}

/* ascoltati di recenti */
.row .albums {
   margin: 20px 0;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.row .albums .album {
   width: calc(100% / 6 - 20px);
   margin: 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.row .albums .album h3 {
   margin-top: 10px;
}
.row .subtitle {
   color: #86888D;
}
.row .albums .album .photo-album {
   width: 100%;
   max-width: 300px;
}
.row .photo-album img {
   width: 100%;
   cursor: pointer;
}

/* artisti popolari  */
.row.artists .photo-album img {
   border-radius: 50%;
}

/* PLAYER SECTION ******** */
.player {
   width: 100vw;
   height: 100px;
   padding: 0 20px;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 999;
}

/* player left */
.player .left {
   width: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-shrink: 0;
}
.player .left img {
   width: 50px;
   margin-right: 10px;
   vertical-align: middle;
   cursor: pointer;
}
.player .left .song-name {
   display: inline-block;
   vertical-align: middle;
}
.player .left .song-name span {
   color: #7C7C7C;
}
.player .left .icons i {
   padding: 0 5px;
   font-size: 25px;
}

/* player central */
.player .central {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.player .central .top {
   flex-shrink: 0;
   font-size: 20px;
}
.player .central .top .fa-play-circle {
   font-size: 40px;
}
.player .central .top i {
   margin: 0 10px;
   vertical-align: middle;
   cursor: pointer;
}
.player .central .bottom {
   width: 60%;
   margin-top: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
}
.player .central .bottom .time {
   font-size: 15px;
}
.player .central .bottom .song-bar {
   width: 100%;
   height: 6px;
   margin: 0 20px;
   background-color: #5A5A5A;
   border-radius: 5px;
}
.current {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 30%;
   height: 100%;
   border-radius: 5px;
   background-color: #C2C2C2;
}
.circle {
   width: 16px;
   height: 16px;
   margin-right: -6px;
   display: none;
   background-color: #FFF;
   border-radius: 50%;
}
.player .central .bottom:hover .current {
   background-color: #B0FF2F;
}
.player .central .bottom:hover .circle {
   display: inline-block;
}

/* player right */
.player .right {
   width: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-shrink: 0;
}
.player .right i {
   font-size: 20px;
}
.player .right .sound-bar {
   width: 40%;
   height: 6px;
   background-color: #5A5A5A;
   border-radius: 5px;
   cursor: pointer;
}
.player .right .sound-bar:hover .current {
   background-color: #B0FF2F;
}
.player .right .sound-bar:hover .circle {
   display: inline-block;
}

/* GLOGAL *********  */
.container {
   width: 90%;
   margin: 0 auto;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
.btn {
   margin-right: 20px;
   padding: 15px 50px;
   text-transform: uppercase;
   color: #FFF;
   border: 1px solid #FFF;
   border-radius: 50px;
   transition: all 0.2s;
}
.category {
   color: #86888D;
   text-transform: uppercase;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.selected {
   background-color: #B0FF2F;
}