* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #FFF;
}

/* HEADER ******* */
header {
   width: 100vw;
   height: 100px;
   padding: 0 30px;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 999;
}

#logo img {
   width: 150px;
}

/* MAIN********** */
main {
   display: flex;
   justify-content: flex-start;
}
/* NAV ASIDE******** */
nav {
   width: 300px;
   height: calc(100vh - 100px);
   background-color: #000;
}
/* CONTENT********* */
.content {
   width: calc(100vw - 300px);
   height: calc(100vh - 100px);
   padding-top: 100px;
   overflow: auto;
   background-color: #141922;
}
/* PLAYER SECTION ******** */
.player {
   width: 100vw;
   height: 100px;
   padding: 0 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
}